<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
      <!-- css supporting files -->
      <link rel="stylesheet" href="../static/css/bootstrap.min.css">
      <link rel="stylesheet" href="../static/css/bootstrap.css">
      <link rel="stylesheet" href="../static/css/lightslider.css">
      <link rel="stylesheet" href="../static/css/style.css">
      
      <!-- js supporting files -->
       <script src="../static/js/bootstrap.bundle.min.js"></script>
       <script src="../static/js/jquery.js"></script>
       <script src="../static/js/lightslider.js"></script>
 <script src="../static/js/script.js"></script>
</head>
<body>
  {%include 'navbar.html'%}
  <br>
  <section class="row">
    <div class="col-md-6 ms-5">
      <div class="card shadow p-5">
        <form action="/register" method="post">
        <label for="">username</label><br>
        <input type="text" class="form-control" name="username" required>
        <br>
        <label for="">email</label>
        <input type="email" class="form-control" name="email" required><br>
        <select name="gender" id="" class="form-control" required>
          <option value="male">male</option>
          <option value="female">female</option>
        </select>
        <br>
        <label for="">Phone</label>
        <input type="tel" class="form-control" name="phone" required>
        <label for="">password</label>
        <input type="password" class="form-control" name="password" required><br>
        <a href="">already have an account? click to login</a>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <input type="submit" class="btn btn-danger" value="Register" width="100">
        </div>


        </form>
        <b class="text-success">{{ message }}</b>
        <b class="text-danger">{{ error }}</b>


      </div>
    
    </div>
  </div>
</div>
</body>
</html>