<section class= "bg-warning text-white  mb-3">
    <footer>
       <div class="row">

      
        <div class="col-md-3">
            <h3>Modi Online Shop</h3>
            your one stop shop for all your househood items
        </div>
        <div class="col-md-3" >
            <h3>quick links</h3>
            <ul style="text-decoration: none;" class="list-unstyled">
                <li><a href="" class="text-white">home</a></li>
                <li><a href="" class="text-white">products</a></li>
                <li><a href="" class="text-white">About Us</a></li>
                <li><a href="" class="text-white">contacts</a></li>
            </ul>
        </div>
        <div class="col-md-3">
            <h3>contact us</h3>
            <p>Email:support@gmail.com</p>
            <p>phone:0975467578</p>
            <p>Address: 987-766</p>
        </div>
        <div class="col-md-3">
            <h3>follow us</h3>
          <a href="facebook">
            <img src="../static/images/fb.png" alt=""> 
          </a>
         <a href="instagram">
            <img src="../static/images/in.png" alt=""> 
         </a>
         <a href="twitter"> <img src="../static/images/x.png" alt=""></a>
        </div>
  
</div> 

<hr>
<div class="text-center text-white p-4">
   <p> @all rights reserved|privacy policy</p>
</div>
</footer>
</section>