<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">ModiShop</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/">Home</a>
          </li>
   
          <li class="nav-item">
            <a class="nav-link" href="/fashion"> fashion</a>
          </li>
        
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              upload
            </a>
            <ul class="dropdown-menu">
              <li>
                <a class="dropdown-item" href="/uploadfashion">upload fashion</a>
              </li>
              <li><hr class="dropdown-divider"></li>
              <li>
                <a class="dropdown-item" href="/upload">products</a>
              </li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="#">cosmetics</a></li>
            </ul>
          </li>
          
        </ul>
        <form class="d-flex" role="search">
  <!-- check if session[key] exists  -->
   <!-- if it exists the user should not see login and register  -->
    <!-- user is supposed to see their email and a logout button  -->
    {% if session['key'] %}
     <!-- user exists  -->
             <b class="text-info"> logged in: <br> {{ session['key'] }}</b>
             <a href="/logout" class="btn btn-outline-warning">logout</a>            
    {% else  %}
    <li class="nav-item">
      <a class="btn btn-otline-primary" href="/login">Login</a>
    </li>
    <!-- Button trigger modal -->
    <li class="nav-item">
      <a class="btn btn-primary" href="/register">register</a>
    </li>
     <!-- user does not exist  -->
    {% endif %}
      

        </form>
      </div>
    </div>
  </nav>
  